body {
   color: #fff;
    font-family: 'Open Sans', sans-serif;
    
}
.activee{
    color: #000;
}
/* start setting box */
.setting-box{
    position: fixed;
    left: -200px;
    top: 0;
    background-color: #fff;
    z-index: 1000;
    width: 200px;
    min-height: 100vh;
    transition: .5s;
}
.setting-box.open{
    left: 0;
}
.toogle i{
    padding: 6px 0px;
    width: 30px;
}
.setting-box .toogle{
    position: absolute;
    right: -30px;
    top: 100px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 22px;
}
/* end setting box */
.landing-page{
    height: 100vh;
    background-image: url('../img/03.jpg');
    background-size: cover;
    position: relative;
}
.landing-page .overlay{
    background-color: #00000054;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.header-area{
    position: relative;
    z-index: 2;
    display: flex;
    padding: 10px;

}
.header-area .logo{
    width: 300px;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    color: rgba(233, 27, 27, 0.979);
}
.header-area ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-top: 25px;
    padding-left: 0px;
    padding-right: 20px;
    font-size: 20px;
}
.header-area ul li{
    display: inline-block;
margin-left: 12px;
}
.header-area ul li a{
    text-decoration: none;
    color: #fff;
    transition: all 1s;
}
.header-area ul li a:hover,
.header-area ul li a.active{
    color: #ff5722;
}
.introduction-text{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
}
.introduction-text h1{
    font-size: 35px;
    margin-bottom: 5px;
   font-weight: bold;
   
}
.introduction-text h1 span{
  
    color: #ff5722;
}
.introduction-text p{
line-height: 1.5;
font-size: 24px;
font-weight: bold;
font-family: monospace;
}
@media (max-width :450px) {
    .landing-page{
        background-position: 50%;
        background-size: cover;
    }
    .header-area .logo{
        width: 20%;
        font-size: 22px;
        padding: 5px;
    }
    .header-area ul {
        list-style: none;
        width: 99%;
        text-align: right;
        padding-top: 25px;
        font-size: 16px;
    }
    
    .introduction-text{
      margin-top: 250px;
        position: absolute;
        top: 10%;
        left: 20%;
        transform: translate(-10%,-10%);
        text-align: center;
        z-index: 2;
    }
    .introduction-text h1{
        font-size: 25px;
    }
    
    .introduction-text p{
    font-size: 18px;
    }
}