body {
   color: #fff;
    font-family: 'Open Sans', sans-serif;
    
}
.activee{
    color: #000;
}
/* start setting box */
.setting-box{
    position: fixed;
    left: -200px;
    top: 0;
    background-color: #fff;
    z-index: 1000;
    width: 200px;
    min-height: 100vh;
    transition: .5s;
}
.setting-box.open{
    left: 0;
}
.toogle i{
    padding: 6px 0px;
    width: 30px;
}
.setting-box .toogle{
    position: absolute;
    right: -30px;
    top: 100px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 22px;
}
/* end setting box */
.landing-page{
    height: 100vh;
    background-image: url('../img/03.jpg');
    background-size: cover;
    position: relative;
}
.landing-page .overlay{
    background-color: #00000054;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.header-area{
    position: relative;
    z-index: 2;
    display: flex;
    padding: 10px;

}
.header-area .logo{
    width: 300px;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    color: rgba(233, 27, 27, 0.979);
}
.header-area ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-top: 25px;
    padding-left: 0px;
    padding-right: 20px;
    font-size: 20px;
}
.header-area ul li{
    display: inline-block;
margin-left: 12px;
}
.header-area ul li a{
    text-decoration: none;
    color: #fff;
    transition: all 1s;
}
.header-area ul li a:hover,
.header-area ul li a.active{
    color: #ff5722;
}
.introduction-text{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
}
.introduction-text h1{
    font-size: 35px;
    margin-bottom: 5px;
   font-weight: bold;
   
}
.introduction-text h1 span{
  
    color: #ff5722;
}
.introduction-text p{
line-height: 1.5;
font-size: 24px;
font-weight: bold;
font-family: monospace;
}
.zero{
    margin-top: 20px;
    background-color: #111;
    color: white;
    height: 650px;
    width: 100%;
}
.zero .h{
 text-align: center;
 color: crimson;
 font-size: 35px;
 font-weight: bold;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 margin-bottom: 10px;
}
.right1{
    margin-top: 80px;
}
.right1 h1{
    font-size: 35px;
    color: crimson;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 10px;
}
.right1 p{
    width: 90%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.left img{
    margin-top: 10px;
}
.raduis{
    height: 420;
    margin-top: 20px;
}
.left2{
    margin-left: -50px;
    margin-top: 30px;
    height: 400px;
    background-position: 0px -20px;
    width: 500px;
    background-size: cover;
    background-image: url(../img/homepage-small-tile-new-left.png);
    border-radius: 30px ;
}
.left2 .tex2 {
    position: absolute;
    margin-top: 200px;
    padding-left: 50px;
    color: white;
}
.tex2 h1 {
    font-size: 35px;
    margin-bottom: 20px;
}
.raduis button{
    background-color: rgb(255, 0, 0);
    font-weight:bold ;
    font-size: 25px;
    border-radius: 20px;
    width: 160px;
    border: 1px solid red;
    color: white;
}
.raduis button:hover{
    background-color: crimson;
}
.right2{
    
    margin-top: 30px;
    height: 400px;
    background-position: 0px -20px;
    width: 700px;
    background-size: cover;
    background-image: url(../img/COKE-476-Text_Only-right.png);
    border-radius: 30px ;
}
.tex3{
    position: absolute;
    margin-top: 50px;
    color: white;
    padding-left: 30px;
}
.tex3 p {
    width: 50%;
}
@media (max-width :450px) {
    .landing-page{
        background-position: 50%;
        background-size: cover;
    }
    .header-area .logo{
        width: 20%;
        font-size: 22px;
        padding: 5px;
    }
    .header-area ul {
        list-style: none;
        width: 100%;
        text-align: right;
        padding-top: 25px;
        font-size: 16px;
    }
    .header-area ul li {
        margin-left: 0px;
        margin-right: 5px;
    }
    .introduction-text{
      margin-top: 250px;
        position: absolute;
        top: 10%;
        left: 20%;
        transform: translate(-10%,-10%);
        text-align: center;
        z-index: 2;
    }
    .introduction-text h1{
        font-size: 25px;
    }
    
    .introduction-text p{
    font-size: 18px;
    }
    .zero{
        height: auto;
    }
    .left img{
      width: 100%;
    }
    .left2{
        width: 100%;
        margin: 20px auto;
        background-position: -10px 0px;
    }
    .left2 .tex2{
        padding-left: 14px;
    }
    .right2{
        width: 100%;
        background-position: -210px 0px;
    }
    .right2 h1{
        font-size: 22px;
    }
    .right2 p{
        width: 80%;
    }
}